<h2>Akord</h2>
<form [formGroup]="chordForm">
    <mat-form-field appearance="fill">
        <mat-label>Symbol</mat-label>
        <input matInput type="text" formControlName="symbol">
    </mat-form-field>
    <div class="chordOptions" formGroupName="chordLocalisation">
        <mat-checkbox formControlName="f1s1">f1s1</mat-checkbox>
        <mat-checkbox formControlName="f1s2">f1s2</mat-checkbox>
        <mat-checkbox formControlName="f1s3">f1s3</mat-checkbox>
        <mat-checkbox formControlName="f1s4">f1s4</mat-checkbox>
        <mat-checkbox formControlName="f1s5">f1s5</mat-checkbox>
        <mat-checkbox formControlName="f1s6">f1s6</mat-checkbox>
        <mat-checkbox formControlName="f2s1">f2s1</mat-checkbox>
        <mat-checkbox formControlName="f2s2">f2s2</mat-checkbox>
        <mat-checkbox formControlName="f2s3">f2s3</mat-checkbox>
        <mat-checkbox formControlName="f2s4">f2s4</mat-checkbox>
        <mat-checkbox formControlName="f2s5">f2s5</mat-checkbox>
        <mat-checkbox formControlName="f2s6">f2s6</mat-checkbox>
        <mat-checkbox formControlName="f3s1">f3s1</mat-checkbox>
        <mat-checkbox formControlName="f3s2">f3s2</mat-checkbox>
        <mat-checkbox formControlName="f3s3">f3s3</mat-checkbox>
        <mat-checkbox formControlName="f3s4">f3s4</mat-checkbox>
        <mat-checkbox formControlName="f3s5">f3s5</mat-checkbox>
        <mat-checkbox formControlName="f3s6">f3s6</mat-checkbox>        
    </div>
    <button mat-raised-button color="primary" (click)="submitChordForm()">Zapisz</button>
</form>